src/main/mule/batch-process.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="88541c07-1427-4345-9cbb-dc1233e01857" >
		<db:my-sql-connection host="${secure::db.host}" port="3306" user="${secure::db.user}" password="${secure::db.password}" database="aml_dev" />
	</db:config>
	<flow name="batch-update-flow" doc:id="65912feb-cabc-46d2-af7d-0a5bb0e81788" >
		<db:listener doc:name="On Table Row" doc:id="7a040602-cfd9-458c-95b5-0a8a95181d99" table="sys_outbox" config-ref="Database_Config1">
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</db:listener>
		<logger level="INFO" doc:name="Logger" doc:id="4192a45d-5cc6-4485-9f92-6b4159506369" message="#[payload]"/>
		<file:write doc:name="Write" doc:id="2225dfaa-3118-4d63-974b-4fbc79996e5a" config-ref="File_Config" path="output/outbox.csv" mode="APPEND"/>
		<ee:transform doc:name="Transform Message" doc:id="bbb66f59-fe5b-495a-beee-4c0c67514302" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
[payload]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
